<table style="margin-right:20px">
  <tr>
    <td style="width: 95%; vertical-align: top;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Overall:
            <span *ngIf="healthy" style="color: green; font-weight: bold; margin-left: 5px">
        Healthy
      </span>
            <span *ngIf="!healthy" style="color: red; font-weight: bold; margin-left: 5px">
        Unhealthy
      </span>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <h2>Detected Problems</h2>
          <ul>
            <li *ngFor="let item of currentProblems">{{item}}</li>
            <li *ngIf="currentProblems.length == 0">NONE</li>
          </ul>

          <h2 style="margin-top:30px">Detected Warnings</h2>
          <ul>
            <li *ngFor="let item of currentWarnings">{{item}}</li>
            <li *ngIf="currentWarnings.length == 0">NONE</li>
          </ul>

          <h2 style="margin-top:30px">Healthy</h2>
          <ul>
            <li *ngFor="let item of currentHealthy">{{item}}</li>
            <li *ngIf="currentHealthy.length == 0">NONE</li>
          </ul>

          <mat-divider></mat-divider>
          <p style="margin-top: 30px">
            For additional troubleshooting, visit the <a routerLink="/dashboard/kubernetes">Kubernetes Dashboard</a>
          </p>
        </mat-card-content>
      </mat-card>
    </td>
    <td style="vertical-align: top; white-space: nowrap">
      <mat-card *ngIf="supportInfo.length > 0" style="width:90%">
        <mat-card-header>
          <mat-card-title>Support</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content>
          <div *ngFor="let supportLine of supportInfo">{{ supportLine }}<br></div>
        </mat-card-content>
      </mat-card>

      <mat-card style="margin-top: 30px; width:90%">
        <mat-card-header>
          <mat-card-title>System Information</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          {{productName}} {{version}}<br>
          Built {{buildDate | date:'yyyy-MM-dd'}}
        </mat-card-content>
      </mat-card>

      <mat-card style="margin-top: 30px; width:90%">
        <mat-card-header>
          <mat-card-title>Component Dashboards</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          The top navigation allows access to component-level dashboards
          <ul style="margin-top: 20px">
            <li><b>Dashboard</b> brings you back to this page</li>
            <li><b>Kubernetes</b> provides both read and re-configuration access to the underlying Kubernetes engine
            </li>
            <li><b>Router</b> gives status information on the internal HTTP router (Traefik)</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </td>
  </tr>
</table>
