/.idea
/*.iml
/out
/tmp
/cache
TODO.txt
**/__debug_bin
/workspace
**/node_modules

#Compiled binaries
builder/cli/install_root/resources/installer
builder/cli/install_root/resources/system-control
builder/cli/install_root/resources/install_dir/lib
