name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Configure (PR)
        if: github.event_name == 'pull_request'
        run: echo 'BRANCH_NAME=${{ format(github.head_ref, 'refs/heads/', '') }}' >> $GITHUB_ENV

      - name: Configure (Branch)
        if: github.event_name != 'pull_request'
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.13

      - name: Cache Go Modules
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build
        run: bash BUILD.sh

      - name: Save artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ruckstack-${{ env.BRANCH_NAME }}
          path: |
            ~/work/ruckstack/ruckstack/out/artifacts/linux/ruckstack
            ~/work/ruckstack/ruckstack/out/artifacts/mac/ruckstack.app
            ~/work/ruckstack/ruckstack/out/artifacts/win/ruckstack.exe

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PACKAGE_PAT }}

      - name: Docker Push
        run: bash BUILD.sh push_docker snapshot-${{ env.BRANCH_NAME }}
